<template>
  <div>
    <h4 class="mb-2" style="color: rgba(0, 0, 0, 0.7);">{{ title }}</h4>
    <vue-custom-scrollbar class="scroll-area" :settings="scrollSettings">
      <v-card v-for="task in taskList" v-bind:key="task.id" class="pa-3 grey lighten-4 mb-2 rounded" elevation="0"
              tile>
        <v-row>
          <v-col xl="10" lg="9" md="9" sm="10" xs="10">
            <span style="font-weight: bold;">{{ task.title }}</span><br/>
            <span style="font-size: 14px;">{{ task.user.name }}</span>
          </v-col>
          <v-col xl="2" lg="3" md="3" sm="2" xs="2" align-self="center" class="pa-5">
            <svg v-if="!task.completed" @click="setAsDone(task);" style="cursor: pointer"
                 xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                 stroke="gray" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
            </svg>
            <svg v-else-if="task.completed" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                 viewBox="0 0 24 24"
                 stroke="#00C675" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
            </svg>
          </v-col>
        </v-row>

        <v-overlay :value="task.overlay" :absolute="true">
          <v-progress-circular
            indeterminate
            size="64"
          ></v-progress-circular>
        </v-overlay>

      </v-card>
    </vue-custom-scrollbar>
  </div>
</template>

<style>
.scroll-area {
  position: relative;
  margin: auto;
  height: 100%;
  padding-right: 15px;
}

.ps__thumb-y {
  background-color: #00C675;
  z-index: 9999;
}

.ps__rail-y:hover > .ps__thumb-y,
.ps__rail-y:focus > .ps__thumb-y,
.ps__rail-y.ps--clicking .ps__thumb-y {
  background-color: #00C675;
  width: 11px;
}

</style>

<script>

import axios from 'axios';
import vueCustomScrollbar from 'vue-custom-scrollbar'
import "vue-custom-scrollbar/dist/vueScrollbar.css"

export default {
  components: {
    vueCustomScrollbar
  },
  props: {
    title: String,
    taskList: Array
  },
  data() {
    return {
      scrollSettings: {
        suppressScrollY: false,
        suppressScrollX: true,
        wheelPropagation: true
      }
    }
  },
  methods: {

    async setAsDone(task) {

      this.$store.commit('todoStore/start', task);

      let updatedTask = await axios.patch('https://jsonplaceholder.typicode.com/todos/' + task.id, {completed: true});

      if (updatedTask.status == 200) {

        this.$store.commit('todoStore/setAsDone', task);

      } else alert('Wystąpił błąd przy aktualizacji zadania #' + task.id);

    }
  }

}

</script>
