<template>
  <v-app>
    <v-navigation-drawer mobile-breakpoint="350" style="width: 80px; padding-right: 10px; padding-left: 10px;" class="grey lighten-4" hide-overlay fixed permanent floating mini-variant>

      <v-container fill-height style="flex-direction: column !important; align-items: initial !important;">

        <v-row align="start" justify="center" style="flex: 0 1 auto !important;">
          <NuxtLink to="/">
            <v-img class="mx-2 my-2" src="/nuxt.svg" style="width: 50px;"></v-img>
          </NuxtLink>

        </v-row>

        <v-row align="center" justify="center" style="flex: 1 1 auto !important; margin-top: -50px;">
          <v-list>
            <v-list-item to="/mails" router exact>
              <v-list-item-action>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                </svg>
              </v-list-item-action>
              <v-list-item-title></v-list-item-title>
            </v-list-item>
            <v-list-item to="/todos" router exact>
              <v-list-item-action>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M19 11H5m14 0a2 2 0 012 2v6a2 2 0 01-2 2H5a2 2 0 01-2-2v-6a2 2 0 012-2m14 0V9a2 2 0 00-2-2M5 11V9a2 2 0 012-2m0 0V5a2 2 0 012-2h6a2 2 0 012 2v2M7 7h10" />
                </svg>
              </v-list-item-action>
              <v-list-item-title></v-list-item-title>
            </v-list-item>
            <v-list-item to="/users" router exact>
              <v-list-item-action>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
              </v-list-item-action>
              <v-list-item-title></v-list-item-title>
            </v-list-item>
            <v-list-item to="/calendar" router exact>
              <v-list-item-action>
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
              </v-list-item-action>
              <v-list-item-title></v-list-item-title>
            </v-list-item>
          </v-list>
        </v-row>
      </v-container>

    </v-navigation-drawer>
    <v-main style="margin-left: 80px !important;">
      <v-container>
        <Nuxt/>
      </v-container>
    </v-main>
  </v-app>
</template>

<style>

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

* {
  font-family: 'Quicksand', sans-serif;
}

.v-list-item--active > .v-list-item__action {

  color: #00C675 !important;

}

.v-list-item--active {
  background-color: white !important;
}

</style>

<script>
export default {
  name: 'DefaultLayout'
}
</script>
