<template>

  <div style="margin-top: 40vh;">

    <h1 style="width: 100%; text-align: center; font-weight: 300;">Cześć!</h1>
    <h2 style="width: 100%; text-align: center;font-weight: 300;" class="text--secondary">Wybierz interesującą się pozycję z menu po lewej</h2>

  </div>

</template>

<script>

export default {
  name: 'IndexPage',

}

</script>
