<template>

  <v-container fluid style="padding: 0;">
    <v-row align="center" justify="center" style="margin-top: 20vh;">
      <v-col xl="6" lg="7" md="8" sm="9" xs="10">
        <h1 class="mt-3 mb-2" style="color: rgba(0, 0, 0, 0.7);">Zadania</h1>
        <v-row style="border-top: 2px solid #00C675; padding-top: 10px;" class="rounded-0">
          <v-col col="12" xs="12" sm="12" md="6" style="padding-top: 0;">
            <TaskListComponent :title="'Do zrobienia'" :taskList="todoList" style="height: 35vh;"></TaskListComponent>
          </v-col>
          <v-col col="12" xs="12" sm="12" md="6" style="height: 35vh; padding-top: 0;">
            <TaskListComponent :title="'Gotowe'" :taskList="doneList" style="height: 35vh;"></TaskListComponent>
          </v-col>
        </v-row>
      </v-col>
    </v-row>

    <v-overlay :value="overlay">
      <v-progress-circular
        indeterminate
        size="64"
      ></v-progress-circular>
    </v-overlay>

  </v-container>

</template>

<script>

import axios from 'axios';
import vueCustomScrollbar from 'vue-custom-scrollbar'
import "vue-custom-scrollbar/dist/vueScrollbar.css"

export default {
  name: 'TodoPage',
  components: {
    vueCustomScrollbar
  },

  computed: {
    todoList() {
      return this.$store.state.todoStore.todo
    },
    doneList() {
      return this.$store.state.todoStore.done
    },

  },
  data() {
    return {
      overlay: this.$store.state.todoStore.todo.length == 0 && this.$store.state.todoStore.done.length == 0,
    }
  },
  created() {

    this.fetchTasks();

  },
  methods: {

    async fetchTasks() {

      let tasks = await axios.get('https://jsonplaceholder.typicode.com/todos');

      let users = await this.fetchUsers();

      tasks.data.map(task => {
        task.user = users.find(user => user.id == task.userId);
        task.overlay = false;
        return task;
      });

      this.$store.commit('todoStore/load', {
        todo: tasks.data.filter(task => task.completed == false),
        done: tasks.data.filter(task => task.completed == true)
      });

      setTimeout(() => {

        this.overlay = false;

      }, 700); //prawdopodobnie prawdziwe dane wymagałyby dłuższego ładowania niż ułamek sekundy, 700ms dla prezntacji

    },
    async fetchUsers() {

      let users = await axios.get('https://jsonplaceholder.typicode.com/users');

      return users.data;

    }
  }

}

</script>
